<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 page</title>
</head>
<body>
<div class="container">
<div class="mt-5 pt-5">

    <!-- First row -->
    <div class="row">
        <div class="col-md-12 text-center float-md-none mx-auto">
            <img src="https://mdbootstrap.com/img/Others/404_mdb.png" alt="Error 404" class="img-fluid wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
        </div>
    </div>
    <!-- /.First row -->

    <!-- Second row -->
    <div class="row mt-5">
        <div class="col-md-12 text-center mb-5">
            <h2 class="h2-responsive wow fadeIn mb-4 animated" data-wow-delay="0.2s" style="font-weight: 500; visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Oops! Resource Not Found!</h2>
            <p class="wow fadeIn animated" data-wow-delay="0.4s" style="font-size: 1.25rem; visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">Please, go home page!</p>

            <ul class="err-404-navigation-links wow fadeIn mt-4 animated" data-wow-delay="0.6s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.6s;">
                <li><a th:href="@{/}"/>Home Page</li>        </ul>
        </div>
    </div>
    <!-- /.Second row -->
</div>
</div>
</body>
</html>