<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin-layout.html">
<head>
    <title>Sample E-Commerce</title>

    <style type="text/css">
        html,
        body,
        .carousel {
            height: 60vh;
        }
        @media (max-width: 740px) {
            html,
            body,
            header,
            .carousel {
                height: 100vh;
            }
        }
        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .carousel {
                height: 100vh;
            }
        }
    </style>
</head>

<body>
<th:block layout:fragment="content">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}" th:object="${product}">
            <th scope="row" th:text="*{id}"></th>
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td><span class="badge badge-primary" th:text="*{category.name}"></span></td>
            <td><span class="fa fa-turkish-lira" th:text="*{price}"/>
            </td>
            <td th:text="*{stock}"></td>
            <td th:text="*{#temporals.format(creationDate, 'dd MMM, yyyy')}"></td>
            <td>
                <div class="text-center">
                  <a th:href="@{/admin/products/__*{id}__}">  <img th:src="*{url}" class="img-thumbnail" alt="placeholder"/></a>
                </div>
            </td>
            <td>
                <form th:action="@{/admin/products}" th:method="PATCH">
                    <input type="hidden" name="enabled" th:value="${!product.enabled}">
                    <input type="hidden" name="id" th:value="${product.id}">
                <button type="submit" class="btn" th:classappend="${product.enabled} ? 'btn-danger' : 'btn-success'">

                    <span th:text="${product.enabled} ? 'DO Disable' : 'DO Enable'" data-toggle="modal" data-target="#centralModalDanger"></span>

                </button>
                </form>
                <!--<div class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
                    <!--<div class="modal-dialog modal-notify modal-danger" role="document">-->
                        <!--&lt;!&ndash;Content&ndash;&gt;-->
                        <!--<div class="modal-content">-->
                            <!--&lt;!&ndash;Header&ndash;&gt;-->
                            <!--<div class="modal-header">-->
                                <!--<p class="heading lead">Are you sure about to [[${product.enabled} ? 'disable' : 'enable']]</p>-->

                                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                                    <!--<span aria-hidden="true" class="white-text">&times;</span>-->
                                <!--</button>-->
                            <!--</div>-->

                            <!--&lt;!&ndash;Body&ndash;&gt;-->
                            <!--<div class="modal-body">-->
                                <!--<div class="text-center">-->
                                    <!--<i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>-->
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad consequatur in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim,-->
                                        <!--ab officiis totam.</p>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--&lt;!&ndash;Footer&ndash;&gt;-->
                            <!--<div class="modal-footer justify-content-center">-->
                                <!--<a type="button" class="btn btn-primary" data-dismiss="modal">No, thanks</a>-->
                                <!--<form th:action="@{/admin/products/__${product.id}__}" th:method="PATCH">-->
                                    <!--<input type="hidden" name="enabled" th:value="${!product.enabled}">-->
                                    <!--&lt;!&ndash;<input type="hidden" name="id" th:value="${product.id}">&ndash;&gt;-->
                                    <!--<button type="submit" class="btn btn-danger">Yes, sure</button>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;/.Content&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            </td>





        </tr>


        </tbody>

    </table>

    <th:block th:include="common/utils::pagination(${products.number}, ${products.size}, ${products.totalPages})"></th:block>



</th:block>
</body>
</html>